<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}booklet{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
  <body>
    <main id="main" class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
